! Base colors

*foreground:        #d8d7d5
*background:        #1c161c
*.foreground:       #d8d7d5
*.background:       #1c161c
emacs*foreground:   #d8d7d5
emacs*background:   #1c161c
URxvt*foreground:   #d8d7d5
XTerm*foreground:   #d8d7d5
UXTerm*foreground:  #d8d7d5
URxvt*background:   [100]#1c161c
XTerm*background:   #1c161c
UXTerm*background:  #1c161c
URxvt*cursorColor:  #d8d7d5
XTerm*cursorColor:  #d8d7d5
UXTerm*cursorColor: #d8d7d5
URxvt*borderColor:  [100]#1c161c

! Colors 0-15.
*.color0: #1c161c
*color0:  #1c161c
*.color1: #495A64
*color1:  #495A64
*.color2: #57636B
*color2:  #57636B
*.color3: #6C6E72
*color3:  #6C6E72
*.color4: #7B7E83
*color4:  #7B7E83
*.color5: #939294
*color5:  #939294
*.color6: #B1B0AF
*color6:  #B1B0AF
*.color7: #d8d7d5
*color7:  #d8d7d5
*.color8: #979695
*color8:  #979695
*.color9: #495A64
*color9:  #495A64
*.color10: #57636B
*color10:  #57636B
*.color11: #6C6E72
*color11:  #6C6E72
*.color12: #7B7E83
*color12:  #7B7E83
*.color13: #939294
*color13:  #939294
*.color14: #B1B0AF
*color14:  #B1B0AF
*.color15: #d8d7d5
*color15:  #d8d7d5

!*.foreground:  #E1E1E1
!*.background:  #1c2023
!*.cursorColor: #778899
!
!*.color0:  #1c2023
!*.color1:  #bf616a
!*.color2:  #a3be8c
!*.color3:  #ebcb8b
!*.color4:  #8fa1b3
!*.color5:  #b48ead
!*.color6:  #96b5b4
!*.color7:  #E1E1E1
!*.color8:  #919ba0
!*.color9:  #bf616a
!*.color10: #a3be8c
!*.color11: #ebcb8b
!*.color12: #8fa1b3
!*.color13: #b48ead
!*.color14: #96b5b4
!*.color15: #c0c5ce

! Rofi
!rofi.font: monospace 12
!rofi.padding: 20
!rofi.line-padding: 3
!rofi.color-enabled: true
!rofi.hide-scrollbar: true
!rofi.separator-style: solid
!rofi.color-window: #1c2023, #919ba0, #1c2023
!rofi.color-normal: #1c2023, #919ba0, #1c2023, #a4a4a4, #1c2023
!rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
!rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49
!rofi.color-window: #0E0E0C, #B0B6B9, #0E0E0C
!rofi.color-normal: #0E0E0C, #B0B6B9, #0E0E0C, #a4a4a4, #0E0E0C
!rofi.color-urgent: argb:00000000, #f43753, argb:00000000, argb:00000000, #e29a49
!rofi.color-active: argb:00000000, #49bbfb, argb:00000000, argb:00000000, #e29a49

rofi.kb-cancel: Escape,Alt+F1

! xterm
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: monospace:size=11
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#1C2023
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
